body {
    background-color: rgb(58, 226, 170);
}
h1{
    color:rgb(58, 226, 170) ;
}
p{
    font-size: 20px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: white;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 1px;
}

footer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}